<div
  scAnimated="fadeIn"
  *ngIf="chartsReady"
  class="statistics-component" fxLayout="row wrap" fxLayout.lt-md="column">
  <!-- Entities charts-->
  <div
    [fxFlex]="statistics.gatewaysAlive + statistics.gatewaysDeath + statistics.processesAlive + statistics.processesDeath > 0 ? '50%' : '100%'" fxFlex.lt-md="100%">
    <div fxLayout="col wrap" fxFlexFill>
      <!-- Gateways and Processes chart -->
      <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100%" fxLayoutGap="10px" style="margin-bottom: 10px">
        <!-- Your gateways -->
        <div
          class="default-shadow stat-card"
          fxLayout="column" fxLayoutAlign="center"
          style="border-bottom: 3px solid rgb(0, 123, 255)">
          <h4 class="chart-title">Tus gateways</h4>
          <canvas baseChart
            *ngIf="statistics.gatewaysAlive + statistics.gatewaysDeath > 0; else noGateways"
            [data]="gatewayData"
            [labels]="aliveChartsLabel"
            chartType="pie"
            [options]="chartOptions"
            [colors]="aliveChartsColors"
            legend="Tus Gateways">
          </canvas>
          <ng-template #noGateways>
            <div class="count-container" fxFlex>
              <h3 class="count-title">0</h3>
            </div>
          </ng-template>
        </div>
        <!-- Your processes -->
        <div
          class="default-shadow stat-card"
          fxLayout="column" fxLayoutAlign="center"
          style="border-bottom: 3px solid rgb(255, 92, 108)">
          <h4 class="chart-title">Tus procesos</h4>
          <canvas baseChart
            *ngIf="statistics.processesAlive + statistics.processesDeath > 0; else noProcesses"
            [data]="processData"
            [labels]="aliveChartsLabel"
            chartType="pie"
            [options]="chartOptions"
            [colors]="aliveChartsColors"
            legend="Tus Gateways">
          </canvas>
          <ng-template #noProcesses>
            <div class="count-container" fxFlex>
              <h3 class="count-title">0</h3>
            </div>
          </ng-template>
        </div>
      </div>
      <!-- Applications and Devices stat -->
      <div fxLayout="row wrap" fxLayout.xs="column" fxFlex="100%" fxLayoutGap="10px" style="margin-bottom: 10px">
        <!-- Your applications -->
        <div
          class="default-shadow stat-card count-card"
          fxLayout="column" fxLayoutAlign="center"
          style="border-bottom: 3px solid rgb(36, 210, 181)">
          <h4 class="chart-title" fxFlex="20px">Tus aplicaciones</h4>
          <div class="count-container" fxFlex>
            <h3 class="count-title">{{ statistics.applications }}</h3>
          </div>
        </div>
        <!-- Your devices -->
        <div
          class="default-shadow stat-card count-card"
          fxLayout="column" fxLayoutAlign="center"
          style="border-bottom: 3px solid rgb(103, 114, 229)">
          <h4 class="chart-title" fxFlex="20px">Tus dispositivos</h4>
          <div class="count-container" fxFlex>
            <h3 class="count-title">{{ statistics.devices }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Changes chart -->
  <div
    *ngIf="statistics.gatewaysAlive + statistics.gatewaysDeath + statistics.processesAlive + statistics.processesDeath > 0"
    fxLayout="column wrap"
    class="default-shadow stat-card"
    style="margin-bottom: 10px">
    <h4 class="chart-title">Cambios de estado</h4>
    <canvas baseChart
      [datasets]="statusChartData"
      [labels]="statusChartLabels"
      chartType="bar">
    </canvas>
  </div>
</div>