.statistics-component {
    margin-bottom: 25px;
}

.stat-card {
    background-color: white;
    width: calc(50% - 10px);
}

.chart-title {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #0d0d0d;
}

.count-card {
    min-height: 10px !important;
}

.count-title {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}

canvas {
    margin-bottom: 15px;
}

@media screen and (max-width: 959px) {
    .stat-card {
        width: calc(100% - 10px);
        margin-bottom: 10px;
    }
}