<form class="application-form" #applicationForm="ngForm" (ngSubmit)="saveOrUpdateApplication()">
  <div
    fxLayout="column"
    scAnimated="fadeIn"
    class="application-card default-shadow">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="section-title-container">
      <h2 class="section-title">
        {{ applicationId ? 'Aplicación: ' + application?.name : 'Nueva aplicación' }}
      </h2>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la aplicación</mat-label>
      <input matInput
        name="name" #name="ngModel"
        type="text" placeholder="Nombre de la aplicación"
        required="true" [(ngModel)]="application.name"/>
      <mat-error *ngIf="name.hasError('required')">
        Nombre de aplicación requerido.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Descripción de la aplicación</mat-label>
      <input matInput
        name="description" #description="ngModel"
        type="text" placeholder="Descripción de la aplicación"
        required="true" [(ngModel)]="application.description"/>
      <mat-error *ngIf="name.hasError('required')">
        Nombre de aplicación requerido.
      </mat-error>
    </mat-form-field>
    <div
      fxLayout="row"
      fxLayoutAlign="end"
      class="button-container">
      <button mat-raised-button
        fxFlex="20%" fxFlex.sm="40%" fxFlex.xs="100%"
        color="primary"
        type="submit"
        [disabled]="appService.isFormInvalid(applicationForm)">
        {{ applicationId ? 'Guardar' : 'Crear' }}
      </button>
    </div>
  </div>
</form>
<div
  *ngIf="applicationId"
  class="application-card default-shadow"
  style="margin-top: 30px">
  <sc-gateways-by-application
    [gateways]="application.gateways"
    [applicationId]="applicationId">
  </sc-gateways-by-application>
</div>