header {
  z-index: 50;
  display: block;
  height: 76px;
  max-height: 76px;
  align-items: center;
  position: fixed;
  width: 100vw;
  background-color: white;
  color: #20aee3;
}

nav {
  height: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.navbar-header {
  cursor: pointer;
  padding: 5px;
  padding-left: 10px;
}

.nav-item {
  font-size: 15px;
}

.nav-right {
  margin: 0;
  height: 100%;
}

.brand-logo {
  width: 40px;
  height: 40px;
}

.brand-name {
  font-size: 30px;
  font-weight: bold;

}

.nav-right {
  position: absolute;
  right: 0;
}

.user-item {
  cursor: pointer;
  padding-left: 10px;
}

.user-item:hover, .navbar-header:hover {
  background-color: #eee;
}

.user-img {
  max-width: 40px;
  height: 30px;
  max-height: 40px;
}

.user-name {
  margin: auto 10px;
}

.page-wrapper {
  margin: 40px;
  margin-top: 106px;
}

ul {
  margin-block-end: 0;
  margin-block-start: 0;
}

.menu-container {
  background: #ffffff;
  margin-top: 76px;
  padding-left: 24px;
  position: fixed;
  height: calc(100vh - 76px);
  -webkit-transition: all 0.7s; /* Safari */
  transition: all 0.7s;
  width: 100%;
}

.menu-container.close {
  width: 0px;
  padding: 0px;
  font-size: 0;
}

.menu-item {
  cursor: pointer;
  margin: 10px;
  margin: 25px 10px;
}

.menu-item > div {
  display: inline-flex;
}
.menu-item > div > div {
  display: grid;
}
.menu-item > div > div > label {
  margin: auto;
  cursor: pointer;
  margin-left: 10px;
}
.menu-item:not(:hover):not(.active) {
  color: #909090 !important;
}

.menu-icon-container {
  display: grid;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.menu-icon-container > * {
  margin: auto;
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 106px;
  }
}

@media (max-width: 558px) {
  .navbar-collapse {
    max-width: 30% !important;
  }
  .navbar-header {
    max-width: 50% !important;
  }
  .section-card-container {
    display: none !important;
  }
}

@media (min-width: 559px) {
  .menu-icon-container {
    display: none !important;
  }
  .menu-container {
    display: none !important;
  }
}

@media screen and (min-width: 558px) and (max-width: 1092px) {
  sc-section-card:last-child {
    margin-right: 20px;
  }
}