<form class="login-form" #changePwdForm="ngForm" (ngSubmit)="doRetrievePassword()">
  <div scAnimated="fadeIn" class="border-container default-shadow">
    <!-- Email field -->
    <div fxLayout="row" fxLayoutAlign="center center">
      <input 
        class="login-input" name="emailForPass" #emailForPass="ngModel"
        type="email" placeholder="Email"
        required="true" ngvemail
        [(ngModel)]="email"/>
      <div  *ngIf="appService.isModelInvalid(emailForPass)">
        <mat-icon
          class="validation-icon"
          *ngIf="emailForPass.errors?.required"
          matTooltip="Email requerido"
          matTooltipClass="validation-tooltip">
          report_problem
        </mat-icon>
        <mat-icon
          class="validation-icon"
          *ngIf="emailForPass.errors?.email"
          matTooltip="Email invalido"
          matTooltipClass="validation-tooltip">
          report_problem
        </mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" class="default-shadow">
    <button mat-flat-button scAnimated="fadeIn"
      class="login-button box-shadow"
      [disabled]="appService.isFormInvalid(changePwdForm)"
      color="primary"
      style="color: white">
      Cambiar contraseña
    </button>
  </div>
</form>
<div fxLayout="row login-links" fxLayoutAlign="center center"  style="margin-top: 8px;" >
  <a class="login-link" [routerLink]="['/login']">Iniciar sesión</a>
  <a class="login-link" [routerLink]="['/signin']">Registrarse</a>
</div>